<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <table cellspacing="4" border="2" width="30%" align="center">
        <tr bgcolor="#b0c4de">
            <th style="width: 50%">Name</th>
            <th style="width: 50%">Venue</th>
        </tr>
        <tr>
            <td>Name</td>
            <td>
                <input type="text" style="width: 99%">
            </td>
        </tr>
        <tr>
            <td>Sex</td>
            <td>
                <input name="option" id = "m" type="radio" >
                <label for="m">Male</label>
                <br>
                <input name="option" id = "f" type="radio">
                <label for="f">Female</label>
            </td>
        </tr>
        <tr>
            <td>Eye color</td>
            <td>
                <select name="eye_color" size="1">
                    <option value="green">green</option>
                    <option value="blue">blue</option>
                    <option value="red">red</option>
                    <option value="grey">grey</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Check all that apply
            </td>
            <td>
                <input type="checkbox" name="height">Over 6 feet tall <br>
                <input type="checkbox" name="weight">Over 200 Pounds
            </td>
        </tr>
        <tr>
            <td colspan="2">Describe your athletic ability:</td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <textarea rows="5" style="width: 99%"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Enter my information">
            </td>
    </table>
</body>
</html>